################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lotus/GremlinNetSample/bin/Debug/net461
