################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lotus/GremlinNetSample/bin/Debug/net461
/lotus/GremlinNetSample/obj
/lotus/Playground/bin/Debug/netcoreapp3.1
/lotus/Playground/obj
/lotus/GremlinNetSample/local.settings.json
/lotus/lotus-web/local.settings.json
/lotus/.vs/lotus/DesignTimeBuild
